<div class="container-fluid">
    <div class="row answer">
        <div class="col-12">
            <div class="text-center">
                <h1 class="m-1">Respuestas</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-4 p-0">
                        <div class="row question-container m-4">
                            <div class="col-3 p-0">
                                <img src="https://source.unsplash.com/random/150x150" class="rounded img-fluid image-card" alt="Responsive image">
                            </div>
                            <div class="col-9 container-fluid">
                                <h5 class="question-title"> <a class="text-decoration-none" routerLink="/question/1">Titulo de la pregunta</a> </h5>
                                <div class="mt-2 mb-3 d-flex align-items-center">
                                    <img class="rounded-circle img-fluid image-card-user" src="https://picsum.photos/150/150" alt="">
                                    <h5 class="answer-username">Username</h5>
                                </div>
                                <span class="answer-description w-100">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, sed!</span>
                                <small class="mt-1"> 01 Dic 2022</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-0">
                        <div class="row question-container m-4">
                            <div class="col-3 p-0">
                                <img src="https://source.unsplash.com/random/150x150" class="rounded img-fluid image-card" alt="Responsive image">
                            </div>
                            <div class="col-9 container-fluid">
                                <h5 class="question-title"> <a class="text-decoration-none" routerLink="/question/1">Titulo de la pregunta</a> </h5>
                                <div class="mt-2 mb-3 d-flex align-items-center">
                                    <img class="rounded-circle img-fluid image-card-user" src="https://picsum.photos/150/150" alt="">
                                    <h5 class="answer-username">Username</h5>
                                </div>
                                <span class="answer-description w-100">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, sed!</span>
                                <small class="mt-1"> 01 Dic 2022</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-0">
                        <div class="row question-container m-4">
                            <div class="col-3 p-0">
                                <img src="https://source.unsplash.com/random/150x150" class="rounded img-fluid image-card" alt="Responsive image">
                            </div>
                            <div class="col-9 container-fluid">
                                <h5 class="question-title"> <a class="text-decoration-none" routerLink="/question/1">Titulo de la pregunta</a> </h5>
                                <div class="mt-2 mb-3 d-flex align-items-center">
                                    <img class="rounded-circle img-fluid image-card-user" src="https://picsum.photos/150/150" alt="">
                                    <h5 class="answer-username">Username</h5>
                                </div>
                                <span class="answer-description w-100">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, sed!</span>
                                <small class="mt-1"> 01 Dic 2022</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>