<div class="container-fluid">
    <div class="row login-container">
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <img class="rounded mx-auto d-block h-75 w-auto" src="https://source.unsplash.com/random/300x300" alt="Responsive image">
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="login-form-border">
                <form class="m-4" action="POST" (ngSubmit)="SignInUser()" [formGroup]="SignInForm">
                    <h2 class="mb-4 text-center">YOUR ANSWER</h2>
                    <div class="mt-2 d-flex align-items-center justify-content-center">
                        <img class="rounded mx-auto d-block h-auto w-auto" src="https://source.unsplash.com/random/100x100" alt="">
                    </div>
                    <h4 class="mt-2 mb-4 text-center">¡Pregunta y responde al mundo!</h4>
                    <div class="mb-4">
                        <label class="form-label">Correo electronico</label>
                        <input class="form-control" type="email" name="email" id="email" required formControlName="email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input class="form-control" type="password" name="password" id="password" required formControlName="password">
                    </div>
                    <div class="mb-2 text-center">
                        <button class="btn btn-primary" type="submit" [disabled]="SignInForm.invalid || IsLogin">
                            <span [hidden]="!IsLogin" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Entrar
                          </button>
                    </div>
                    <div class="mb-2 text-center text-danger">
                        <span>{{ErrorMessage}}</span>
                    </div>
                    <div class="mb-4 text-center">
                        <h5>Aun no tienes una cuenta, registrate <a class="nav-link text-primary d-inline" routerLink="/auth/register"> aqui </a> </h5>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>